@import "../../../public/style/pxtorem";

.index-video-area-container {
  padding: pxToRem(12) pxToRem(12);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.channel-index {
  margin-top: pxToRem(86);
}
